#video {
    width: 100%;
    height: 500px;
    border: none;
}

.text_mainDiv {
    border: 1px solid lightgray;
}

.text_mainDiv img {
    width: 100%;
}

.text_mainDiv h5,
.text_mainDiv p {
    margin: 20px;
}